<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="project_add">
      <h1>Editing Fibre</h1>
        <%= render 'form' %>
      <%= link_to 'Show', [@fibre.otdf, @fibre] %>
    </div>
  </div>
</div>
