<%= render 'header' %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
    	<div class="text">
    		<h1> Find you Fiber </h1>
			<p> Application for passporting fiber-optic network </p>
		</div>
	</div>
</div>
