<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="project_add">

			<h1>FindMyFibre</h1>
			<p>This application is for passporting fiber-optic network  </p>
			<p> If you want to access to creat you own network pleasa conntact me 
			<a href="mailto:lach.szymon86@gmail.com">lach.szymon86@gmail.com</a>
			</p>
		</div>
	</div> 
</div>