<div class="row">
	    <div class="col-md-4 col-md-offset-4">
	    	<div class="project_add">
				<h1>New Project</h1>

				<%= render 'form' %>
				<%= link_to 'Back', projects_path %>

			</div>
		</div>
</div>
