<div class="row">
	    <div class="col-md-6 col-md-offset-3">
	    	<div class="project_add">
				Direct:  <%= @otdf.direct %>
			</div>
		</div>
</div>
<div class="row">
	<% @fibres.each do |fibre| %>
		<div class="col-md-1">
			<p>
			Number fibre
			<%= fibre.number_in_otdf %>
			Color
			<%= fibre.f_color %>
			</p>
		</div>
	<% end %>
</div>		